.register-button {
  padding: 15px 20px;
  width: 100%;
  margin-top: 20px;
  background-color: #3554d1;
  border-radius: 10px;
  border: transparent;
  color: #fff;
  cursor: pointer;
}

.form {
  width: 20%;
  margin: 0 auto;
}

.form p {
  font-weight: 600;
}

.form h1 {
  margin-bottom: 50px;
}
